# workflow의 이름
name: DEV-CD

on:
  pull_request:
    types: [ closed ]
    branches: [ "dev" ]

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    name: Dev-CD
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.TOKEN_SECRETS }}
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Copy secret files
        run: ./gradlew copySecret
        shell: bash

      - name: Build with Gradle
        run: ./gradlew build
        shell: bash

      - name: Deliver File
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.LIGHTSAIL_HOST }}
          username: ${{ secrets.LIGHTSAIL_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "build/libs/*.jar"
          target: "~/app"
          rm: true

      - name: Deploy to Lightsail
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.LIGHTSAIL_HOST }}
          username: ${{ secrets.LIGHTSAIL_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            SOURCE_DIR=~/app/build/libs
            
            FILE_NAME=$(find "$SOURCE_DIR"/*.jar -printf "%f\n" | head -n 1)
            
            PID=$(ps -ef | grep "java -jar" | grep "$FILE_NAME" | awk '{print $2}' | head -n 1)
            
            if [ -z "$PID" ]; then
              echo "#### THERE IS NO PROCESS ####"
            else
              echo "#### KILL $PID ####"
              sudo kill -9 "$PID"
            fi
            
            echo "#### RUN $SOURCE_DIR/$FILE_NAME ####"
            sudo nohup java -jar "$SOURCE_DIR/$FILE_NAME" > application.log 2>&1 &
